{% extends "base.tera" %}
{% block title %}Recipe List{% endblock title %}
{% block content %}
   <h1>Recipes</h1>
     <ol>
     {%- for recipe in recipes %}
       <li>{{recipe.name}}</li>
     {%- endfor %}
   </ol>
{% endblock content %}
